<div class="container">
    <div class="Modal-box">
        <div class="row" ng-show="!showInfo">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="images/logo.png" align="left">
            </div>            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 align="left">Добро пожаловать </br> в <strong>Некафе на Джандосова!</strong></h1>
            </div>
            <div class="row">                
                <h2 align="center">ул. Джандосова, 82</h2>
                <h2 align="center">+7 747 666 99 56</h2>
                <h2 align="center">nekafe.kz</h2>
            </div>

        </div>
      
        <div ng-show="showInfo">
            <h4><strong>Спасибо за то, что были у нас в гостях!</strong></h4>
            <div class="table-wrapper">
                <table class="table table-condensed">
                    <tr>
                        <td><strong>Всего гостей:</strong></td>
                        <td><strong>{{totalN}}</strong></td>
                        <td><strong>Всего сумма:</strong></td>
                        <td><strong>{{amountCheckout | number:0}}</strong></td>
                    </tr>
                </table>            
            </div>
            <div class="table-wrapper">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Время</th>
                            <th align="center">Сумма</th>
                            <th>Акция</th>
                            <th>Время прихода</th>
                            <th>Время ухода</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="setRowBackgroud(guestToCheckout.isFree,guestToCheckout.promotion,guestToCheckout.isEmployee)" ng-repeat="guestToCheckout in guestsToCheckout | orderBy:'arrivalTime':true track by guestToCheckout.id">
                            <td><strong>{{guestToCheckout.name}}</strong></td>
                            <td>{{convertMinutes(guestToCheckout.timeInClub)}}</td>
                            <td align="center"><strong>{{guestToCheckout.amount | number:0}}</strong></td>
                            <td>{{getPromoNameById(guestToCheckout.promotion)}}</td>
                            <td>{{guestToCheckout.arrivalTime | date: 'dd.MM.y H:mm:ss' : '+0500'}}</td>
                            <td>{{guestToCheckout.checkoutTime | date: 'dd.MM.y H:mm:ss' : '+0500'}}</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>        
        </div>
    </div>
</div>